.navbar {
    background: rgba(0, 0, 0, 0.5);
}

.active-link {
    color: #fff3b0 !important;
    font-weight: 700;
}

.not-active {
    font-weight: 500;
}

.sign-out {
    border: none;
    outline: none;
    background: none;
    margin-right: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    color: darkslateblue;
    text-decoration: underline;
}
