@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #d0d3d4 !important;
    font-family: "Fugaz One", cursive !important;
}
