#card-1,
#card-2,
#card-3 {
    background-size: cover;
    background-position: center(50%);
    height: 500px;
    border-radius: 25px;
}

.color {
    color: #0466c8;
}

#card-1 {
    background: url("../../images/blog-1.jpg");
}
#card-2 {
    background: url("../../images/blog-3.jpg");
}
#card-3 {
    background: url("../../images/blog-5.jpg");
}

.button {
    width: 150px;
    padding: 1rem 1.5rem;
    font-size: 1.15rem;
    background: #e30b5c;
    border-radius: 25px;
    cursor: pointer;
}
